{% extends 'base.html' %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href="/admin">Administración</a>
    </div>
  </div>
</div>

<div style="margin: 0 40px 0 40px">
  <div class="card card-block mt-3">
    <form action="" method="get" class="form-inline">
      {% csrf_token %} {% for field in form.visible_fields %}
      <div class="form-group m-4">{{ field.label_tag }}&nbsp;{{ field }}</div>
      {% endfor %}
      <hr class="separator" />
      <input type="submit" class="btn btn-primary btn-sm float-right" value="Filtrar" style="width: 100px" />
    </form>
  </div>

  {% include "paginacion.html" %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Compañía</th>
        <th scope="col">Asunto</th>
        <th scope="col">Carátula</th>
        <th scope="col" style="text-align: center">Fecha</th>
        <th scope="col">Tipo Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for v in vencimiento_list %}
      <tr id="{% url 'admin:legales_causa_change' v.causa.id %}">
        <td scope="row">{{ page_obj.start_index | add:forloop.counter0 }}</td>
        <td>{{ v.causa.company.nombre }}</td>
        <td>{{ v.causa.asunto }}</td>
        <td>{{ v.causa.caratula }}</td>
        <td>{{ v.fecha|date:'d/m/Y' }}</td>
        <td>{{ v.tipoVencimiento.nombre }}</td>
        <!-- <td align="right">{{ activo.cantidad }}</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "paginacion.html" %}
</div>

{% endblock %} {% block script %}
<script>
  $("tr").dblclick(function () {
    var url = $(this).attr("id") + "?_to_field=id&_popup=1";
    window.open(url, "popup_edit", "width=1200,height=900");
  });
</script>
{% endblock %}
